n8n_telegram_bot_v2_memory_voice.json
{
  "name": "Telegram AI Bot - Memory & Voice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-ai-bot-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 400],
      "webhookId": "tg-ai-bot-v2-wh"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || body.edited_message;\n\nif (!message) return [{ json: { skip: true } }];\n\nconst chatId   = String(message.chat.id);\nconst userId   = message.from?.id;\nconst username = message.from?.username || message.from?.first_name || 'User';\nconst text     = message.text || '';\nconst isVoice  = !!message.voice;\nconst isStart  = text.trim() === '/start';\nconst voiceFileId = isVoice ? message.voice.file_id : null;\n\nif (!text && !isVoice) return [{ json: { skip: true } }];\n\nreturn [{\n  json: { chatId, userId, username, text, isVoice, isStart, voiceFileId, skip: false }\n}];"
      },
      "id": "n-parse",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-skip",
      "name": "Skip Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "n-resp-early",
      "name": "Webhook Response (skip)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.isStart }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-is-start",
      "name": "Is /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 480]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "👋 <b>Привет, {{ $json.username }}!</b>\n\nЯ — твой умный AI-ассистент с суперспособностями:\n\n🌐 <b>Поиск в интернете</b> — найду актуальную информацию\n🧠 <b>Память разговора</b> — помню весь наш диалог\n🎙️ <b>Голосовые сообщения</b> — понимаю речь, отвечаю текстом\n\n💬 Напиши или надиктуй вопрос — дам точный ответ!",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "n-welcome",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 300],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "n-resp-welcome",
      "name": "Webhook Response (welcome)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.isVoice }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-is-voice",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1060, 580]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "file_id", "value": "={{ $json.voiceFileId }}" }
          ]
        },
        "options": {}
      },
      "id": "n-get-file",
      "name": "Get Telegram File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 460]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $env.TELEGRAM_BOT_TOKEN }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          }
        }
      },
      "id": "n-download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 460]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.data }}", "parameterType": "formBinaryData" },
            { "name": "model", "value": "whisper-1" },
            { "name": "language", "value": "ru" }
          ]
        },
        "options": {}
      },
      "id": "n-whisper",
      "name": "Transcribe Audio (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 460]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatId",
              "value": "={{ $('Parse Message').item.json.chatId }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "username",
              "value": "={{ $('Parse Message').item.json.username }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "isVoice",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "n-set-voice-text",
      "name": "Set Voice Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1940, 460]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "chatId",
              "value": "={{ $json.chatId }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b4",
              "name": "isVoice",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "n-set-text",
      "name": "Set Text Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, 700]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "action": "typing",
        "additionalFields": {}
      },
      "id": "n-typing",
      "name": "Send Typing...",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2160, 580],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.isVoice ? '🎙️ Голосовое принято, ищу ответ...' : '⏳ Ищу информацию...' }}",
        "additionalFields": {}
      },
      "id": "n-processing",
      "name": "Send Processing Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2380, 580],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "options": {
          "systemMessage": "Ты — умный AI-помощник в Telegram. Отвечаешь точно, чётко и по делу.\n\nПравила:\n1. Отвечай на языке вопроса (обычно русский)\n2. Всегда используй инструмент поиска для актуальных данных (цены, новости, погода, курсы валют и т.д.)\n3. Структурируй ответ: списки, абзацы — там где нужно\n4. Форматирование Telegram Markdown: *жирный*, _курсив_, `код`, [ссылка](url)\n5. Будь конкретен — факты и цифры вместо «возможно»\n6. Максимум 3000 символов\n7. Если искал в интернете — в конце укажи 1-2 источника\n8. Помни контекст всего разговора и обращайся к нему если нужно\n9. Если вопрос о голосовом — ответь что услышал и обработал его",
          "maxIterations": 5
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "n-agent",
      "name": "AI Agent (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2600, 580]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2048
        }
      },
      "id": "n-claude",
      "name": "Claude LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [2400, 780],
      "credentials": {
        "anthropicApi": { "id": "ANTHROPIC_CRED_ID", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20,
        "sessionKey": "={{ $('Set Voice Text').item.json.chatId || $('Set Text Data').item.json.chatId }}"
      },
      "id": "n-memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2600, 780]
    },
    {
      "parameters": {
        "apiKey": "={{ $env.TAVILY_API_KEY }}"
      },
      "id": "n-tavily",
      "name": "Tavily Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolTavilySearch",
      "typeVersion": 1,
      "position": [2800, 780],
      "credentials": {
        "tavilyApi": { "id": "TAVILY_CRED_ID", "name": "Tavily" }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json;\nconst prevData = $('Set Voice Text').item?.json || $('Set Text Data').item?.json;\n\n// Получаем chatId из предыдущего контекста\nlet chatId = '';\ntry { chatId = $('Set Voice Text').item.json.chatId; } catch(e) {}\ntry { if (!chatId) chatId = $('Set Text Data').item.json.chatId; } catch(e) {}\n\n// Получаем ответ агента\nlet answer = agentOutput.output || agentOutput.text || JSON.stringify(agentOutput);\n\n// Telegram ограничение 4096 символов\nif (answer.length > 3800) {\n  answer = answer.substring(0, 3800) + '...\\n\\n_[ответ сокращён]_';\n}\n\nreturn [{ json: { chatId, answer } }];"
      },
      "id": "n-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2820, 580]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.answer }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "n-send",
      "name": "Send Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3040, 580],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "n-resp-final",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3260, 580]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]]
    },
    "Parse Message": {
      "main": [[{ "node": "Skip Empty?", "type": "main", "index": 0 }]]
    },
    "Skip Empty?": {
      "main": [
        [{ "node": "Webhook Response (skip)", "type": "main", "index": 0 }],
        [{ "node": "Is /start?", "type": "main", "index": 0 }]
      ]
    },
    "Is /start?": {
      "main": [
        [{ "node": "Send Welcome", "type": "main", "index": 0 }],
        [{ "node": "Is Voice?", "type": "main", "index": 0 }]
      ]
    },
    "Send Welcome": {
      "main": [[{ "node": "Webhook Response (welcome)", "type": "main", "index": 0 }]]
    },
    "Is Voice?": {
      "main": [
        [{ "node": "Get Telegram File Info", "type": "main", "index": 0 }],
        [{ "node": "Set Text Data", "type": "main", "index": 0 }]
      ]
    },
    "Get Telegram File Info": {
      "main": [[{ "node": "Download Audio", "type": "main", "index": 0 }]]
    },
    "Download Audio": {
      "main": [[{ "node": "Transcribe Audio (Whisper)", "type": "main", "index": 0 }]]
    },
    "Transcribe Audio (Whisper)": {
      "main": [[{ "node": "Set Voice Text", "type": "main", "index": 0 }]]
    },
    "Set Voice Text": {
      "main": [[{ "node": "Send Typing...", "type": "main", "index": 0 }]]
    },
    "Set Text Data": {
      "main": [[{ "node": "Send Typing...", "type": "main", "index": 0 }]]
    },
    "Send Typing...": {
      "main": [[{ "node": "Send Processing Msg", "type": "main", "index": 0 }]]
    },
    "Send Processing Msg": {
      "main": [[{ "node": "AI Agent (Claude)", "type": "main", "index": 0 }]]
    },
    "Claude LLM": {
      "ai_languageModel": [[{ "node": "AI Agent (Claude)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Conversation Memory": {
      "ai_memory": [[{ "node": "AI Agent (Claude)", "type": "ai_memory", "index": 0 }]]
    },
    "Tavily Web Search": {
      "ai_tool": [[{ "node": "AI Agent (Claude)", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent (Claude)": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Send Answer", "type": "main", "index": 0 }]]
    },
    "Send Answer": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "versionId": "2"
}
