n8n_telegram_bot_workflow.json
{
  "name": "Telegram AI Assistant Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "telegram-bot-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Получаем данные из Telegram update\nconst message = body.message || body.edited_message;\n\nif (!message || !message.text) {\n  return [{ json: { skip: true } }];\n}\n\nconst chatId = message.chat.id;\nconst userId = message.from.id;\nconst username = message.from.username || message.from.first_name || 'User';\nconst text = message.text;\nconst messageId = message.message_id;\n\n// Пропускаем команду /start\nif (text === '/start') {\n  return [{\n    json: {\n      chatId,\n      userId,\n      username,\n      text,\n      messageId,\n      isStart: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chatId,\n    userId,\n    username,\n    text,\n    messageId,\n    isStart: false\n  }\n}];"
      },
      "id": "parse-message",
      "name": "Parse Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Valid Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-start",
              "leftValue": "={{ $json.isStart }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-start-cmd",
      "name": "Is /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "👋 Привет, {{ $json.username }}!\\n\\nЯ — твой AI-помощник с доступом в интернет.\\n\\n🔍 Я могу:\\n• Отвечать на любые вопросы\\n• Искать актуальную информацию в интернете\\n• Анализировать и объяснять\\n\\n💬 Просто напиши свой вопрос и я дам точный ответ!",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-welcome",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 80],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "⏳ Ищу информацию и готовлю ответ...",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-typing",
      "name": "Send Processing Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 280],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "api_key": "YOUR_TAVILY_API_KEY",
          "query": "={{ $('Parse Telegram Message').item.json.text }}",
          "search_depth": "advanced",
          "include_answer": true,
          "include_raw_content": false,
          "max_results": 5,
          "include_domains": [],
          "exclude_domains": []
        },
        "options": {}
      },
      "id": "web-search",
      "name": "Search Web (Tavily)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "jsCode": "const searchData = $input.first().json;\nconst userQuestion = $('Parse Telegram Message').item.json.text;\n\n// Формируем контекст из результатов поиска\nlet searchContext = '';\n\nif (searchData.answer) {\n  searchContext += `Быстрый ответ из поиска: ${searchData.answer}\\n\\n`;\n}\n\nif (searchData.results && searchData.results.length > 0) {\n  searchContext += 'Результаты поиска:\\n';\n  searchData.results.slice(0, 5).forEach((result, i) => {\n    searchContext += `\\n${i+1}. ${result.title}\\n`;\n    searchContext += `URL: ${result.url}\\n`;\n    searchContext += `Содержание: ${result.content ? result.content.substring(0, 500) : 'Нет содержания'}\\n`;\n  });\n}\n\nreturn [{\n  json: {\n    userQuestion,\n    searchContext,\n    chatId: $('Parse Telegram Message').item.json.chatId,\n    sources: searchData.results ? searchData.results.slice(0, 3).map(r => r.url) : []\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Search Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 280]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "messageValues": [
            {
              "role": "user",
              "content": "={{ $json.userQuestion }}"
            }
          ]
        },
        "options": {
          "systemMessage": "Ты — умный AI-помощник в Telegram. Твоя задача — давать точные, актуальные и полезные ответы на вопросы пользователей.\n\nТебе предоставлены результаты поиска в интернете. Используй эту информацию для составления ответа.\n\nПравила ответа:\n1. Отвечай на том же языке, на котором задан вопрос\n2. Будь конкретным и точным — никаких «возможно» или «вероятно» без оснований\n3. Структурируй ответ: используй списки, заголовки если нужно\n4. Укажи ключевые факты и данные\n5. Если информация из поиска актуальна — используй её\n6. Форматирование для Telegram: используй *жирный*, _курсив_, `код` где уместно\n7. Максимальная длина ответа — 3000 символов\n8. В конце кратко укажи источники если использовал поиск\n\nРезультаты поиска:\n{{ $json.searchContext }}",
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "id": "claude-ai",
      "name": "Claude AI Answer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1780, 280],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst preparedData = $('Prepare Search Context').item.json;\n\n// Получаем текст ответа от Claude\nlet answerText = '';\n\nif (aiResponse.content && Array.isArray(aiResponse.content)) {\n  answerText = aiResponse.content.map(c => c.text || '').join('');\n} else if (aiResponse.text) {\n  answerText = aiResponse.text;\n} else {\n  answerText = JSON.stringify(aiResponse);\n}\n\n// Ограничиваем длину для Telegram (max 4096 символов)\nif (answerText.length > 3800) {\n  answerText = answerText.substring(0, 3800) + '...\\n\\n_Ответ сокращён из-за ограничений_';\n}\n\nreturn [{\n  json: {\n    chatId: preparedData.chatId,\n    answerText,\n    sources: preparedData.sources\n  }\n}];"
      },
      "id": "format-answer",
      "name": "Format Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 280]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.answerText }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-answer",
      "name": "Send Answer to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2220, 280],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Message": {
      "main": [
        [
          {
            "node": "Valid Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Message?": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is /start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /start?": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Processing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Message": {
      "main": [
        [
          {
            "node": "Search Web (Tavily)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Web (Tavily)": {
      "main": [
        [
          {
            "node": "Prepare Search Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Search Context": {
      "main": [
        [
          {
            "node": "Claude AI Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Answer": {
      "main": [
        [
          {
            "node": "Format Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Answer": {
      "main": [
        [
          {
            "node": "Send Answer to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Answer to Telegram": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Message": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-01T00:00:00.000Z",
  "versionId": "1"
}
